.HomePage {
    position:absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    width: 80%;
}
.hero-text {
    color: white;
    text-align: center;
    font-size: 3.6rem;
    span {
        color: #037FFF;
    }
}

.h-sub-text {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .icon-link {
        margin-right: 1rem;
        .icon {
            font-size: 2.3rem;
            color: #a4acc4;
            transition: all 0.4s ease-in-out;
        }
        .twt:hover {
            color: #55acee;
        }
        .lin:hover {
            color: #0077B5;
        }
        .med:hover {
            color: #00AB6C;
        }
        .dev:hover {
            color: #8487B8;
        }
        .gh:hover {
            color: #d4dff7;
        }
    }
}