@import './styles/layout';
@import './styles/navbar';
@import './styles/typography';
@import './styles/title';
@import './styles/about';
@import './styles/skill';
@import './styles/services';
@import './styles/blogs';
@import './styles/contact';
@import './styles/portfolios';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #a4acc4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1rem;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: #21609efa;
    border-radius: 50px;
}
body::-webkit-scrollbar-track {
    background-color: #5d5f64;
}

span {
    color: #037FFF;
}

@media screen and (min-width: 2500px) {
    html {
        font-size: 140%;
    }
}
@media screen and (max-width: 700px) {
    html {
        font-size: 80%;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 70%;
    }
    h2, h3 {
        font-size: 80%
    }
}
@media screen and (max-width: 400px) {
    html {
        font-size: 60%;
    }
    h2, h3 {
        font-size: 70%
    }
}